/* Reset */

html,
body,
div,
nav,
header,
section,
article,
footer,
h1,
h2,
h3,
p,
img,
ul,
li {
    margin: 0;
    padding: 0;
}

#container {
    /* this controlls the total width of the page */
    max-width: 150vw;
}

nav {
    /* this controlls the total width of the page */
    min-height: 200px;
    background-color: #2f4f4f;
    position: relative;
    color: 000080;
    font-size: 60px;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
}

nav a:hover {
    /* this controls the nav hover over w/ mouse color*/
    background: #888;
    color: #000000;
}

nav a:visited {
    color: #003366;
}

header {
    height: 650px;
    /* issue*/
    /* height: calc(100vh - 50px);*/
    color: #000000;
    font-size: 24px;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    font-family: 'Pacifico', cursive;
    background-color: #C0C0C0;
    background-position: center;
    background-image: url("../images/new-yorkeve.jpg")
}

header a:visited {
    color: #003366;
}


/* ---> keep for later --> 
.thatabout {
  background-image: url("../images2/landscapes-landscape-maldives-cloud-beauty-beach-ocean-sky-nature-photo-1366x768.jpg")*/


}
header a:hover {
    background: #888;
    color: #000000;
}
#section-one {
    display: flex;
    justify-content: space-between;
}
#aboutus-section-one {
    display: flex;
    justify-content: space-between;
}

/* --------THIS CONTROLS PHOTOS ON INDEX/HOME PAGE--------- */
.box {
    flex: 1;
    background-image: url("../images/taxinyc.jpg");
    background-color: #FD7C6E;
    height: 400px;
    background-size: cover;
    /* controlled and resized image in box */
}
#section-one article:first-child {
    background-image: url("../images/central-park.jpg");
}
#article-2 {
    min-height: inherit;
    /* how to resize a picture */
    
    background-color: #ffff00;
    /* if want color square */
    
    background-image: url("../images/radio-city-music-hall.jpg")
}
#article-3 {
    background-image: url("../images/grand-central-station.jpg")
}

/* --------THIS CONTROLS PHOTOS ON INDEX/HOME PAGE---------  
#article-4 {
    background-image: url("../images2/New_York_NYC.jpg") */

}

/*------THIS CONTROLS THE BLACK AND GREY LINE BELOW PHOTOS ---------*/
#section-two {
    min-height: 20px;
    background-color: #000000;
}
footer {
    min-height: 20px;
    background-color: #778899;
    text-align: center;
}